.Home {
  height: 100vh;
  background-image: url("././../../assets/background.png");
  background-repeat: no-repeat;
  background-size: cover;
}

.Home-container {
  width: 100%;
  height: 90vh;
  display: flex;
  align-items: center;
}

.Home-text {
  position: absolute;
  right: 44%;
  width: 600px;
  height: 600px;
  border-radius: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 100;
}

.box {
  position: absolute;
  left: 10%;
  width: 247px;
  height: 40px;
  margin-bottom: -40px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.welcome-bar {
  width: 100px;
  height: 1px;
  background-color: var(--circle-color);
  animation: animate-welcome-bar-text 1s ease-in-out;
  transition: opacity 0.5s ease-in-out;
}

.Home-text .welcome-text {
  font-size: 0.8em;
  font-family: var(--font);
  color: var(--text-color);
  animation: animate-welcome-bar-text 0.9s ease-in-out;
  transition: opacity 0.1s ease-in-out;
}

@keyframes animate-welcome-bar-text {
  0% {
    transform: translateX(-11rem);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.Home-text .tag-name {
  font-size: 2.5em;
  color: var(--primary-color);
  line-height: 70px;
  animation: animateTagName 0.9s ease-in-out;
  transition: opacity 0.1s ease-in-out;
}

@keyframes animateTagName {
  0% {
    transform: translateX(-111rem);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.Home-text .slogan-text {
  position: absolute;
  left: 10%;
  bottom: 27%;
  color: var(--secondary-color);
  font-size: 0.2em;
  font-weight: lighter;
  line-height: 50px;
  letter-spacing: 3px;
  animation: animateIn 0.8s ease-in-out;
  transition: opacity 0.1s ease-in-out;
}

@keyframes animateIn {
  0% {
    transform: translateY(11rem);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.bullet-00 {
  position: absolute;
  width: 100px;
  height: 100px;
  right: 44%;
  border-radius: 50px;
  background-color: var(--circle-color);
  opacity: 0.2;
  animation: animateBullet 0.5s ease-in-out;
  transition: opacity 0.1s ease-in-out;
  z-index: 10;
}

@keyframes animateBullet {
  0% {
    transform: translateX(37rem);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 0.1;
  }
}

.bullet-01 {
  position: absolute;
  width: 200px;
  height: 200px;
  right: 44%;
  border-radius: 100px;
  background-color: var(--circle-color);
  opacity: 0.2;
  animation: animateBullet1 0.5s ease-in-out;
  transition: opacity 0.1s ease-in-out;
}

@keyframes animateBullet1 {
  0% {
    transform: translateY(-37rem);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 0.1;
  }
}

.Home-container .bullet-02 {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 600px;
  height: 600px;
  right: 44%;
  border-radius: 300px;
  background-color: var(--circle-color);
  opacity: 0.2;
  animation: animateBullet2 0.3s ease-in-out;
  transition: opacity 0.1s ease-in-out;
}

@keyframes animateBullet2 {
  0% {
    transform: translateX(-37rem);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 0.1;
  }
}

.Home-container .get-started-btn {
  position: absolute;
  right: 5%;
  bottom: 10%;
  width: 120px;
  height: 40px;
  border: none;
  outline: none;
  font-size: 1rem;
  font-weight: 600;
  background: var(--button-color);
  color: var(--primary-color);
  cursor: pointer;
  z-index: 0;
  border-radius: 60px;
}

.get-started-btn::before {
  content: '';
  background: linear-gradient(45deg, #f00, #ff7300, #7a00ff, #ff00c8);
  position: absolute;
  top: -2px;
  left: -2px;
  background-size: 400%;
  z-index: -1;
  filter: blur(5px);
  width: calc(100% + 4px);
  height: calc(100% + 4px);
  animation: glowing 20s linear infinite;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  border-radius: 60px;
}

.get-started-btn::after {
  z-index: -1;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  background: var(--button-color);
  left: 0;
  top: 0;
  border-radius: 60px;
}

.get-started-btn:active::after {
  background: transparent;
}

.get-started-btn:active {
  color: #000;
}

.get-started-btn:hover::before {
  opacity: 1;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }

  100% {
    background-position: 0 0;
  }
}
