@media (max-width: 991px) {
  .footer {
    height: 50px;
    background-color: var(--body-color);
    display: flex;
    justify-content: center;
    align-items: center;

    .logo {
      display: none;
    }

    p {
      color: #fff;
      font-size: 0.7em;
    }

    a {
      color: var(--primary-color);
      text-decoration: none;
    }
  }
}

@media (min-width: 992px) {
  .footer {
    height: 60px;
    padding: 0 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid var(--circle-color);
    background-color: var(--body-color);

    .logo {
      width: 100px;
    }

    p {
      color: #fff;
      font-size: 1em;
    }

    a {
      color: var(--primary-color);
      text-decoration: none;
    }
  }
}
