* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  --primary-color: rgb(176, 53, 0);
  --secondary-color: rgb(255, 255, 255);
  --text-color: rgb(202, 201, 201);
  --button-color: rgb(202, 201, 201);
}