@media (max-width: 991px) {
  #Work {
    padding: 0 5px 0;
    background-color: var(--body-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .work-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .explore {
    height: 30px;
    margin: 70px 0 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .explore h3 {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0;
    color: var(--primary-color);
  }

  .exploreBar {
    width: 40px;
    height: 1px;
    background-color: var(--circle-color);
    transition: all 0.3s ease-in-out;
  }

  .work-container .work-card {
    max-width: 96%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 5px;
    border-radius: 10px;
    background: transparent;
    margin-bottom: 10px;
  }

  .work-card .work-images {
    width: 100%;
    height: 18em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .work-card .img-card {
    width: 100%;
    height: 100%;
    -ms-object-fit: cover;
    object-fit: cover;
    max-width: 100%;
    margin: 0 0 10px 0;
    vertical-align: middle;
    display: inline-block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .work-card-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: var(--primary-color);
  }

  .work-card-text h3 {
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0;
    color: var(--secondary-color);
  }

  .work-card-text p {
    font-size: .9rem;
    font-weight: 400;
    margin: 0;
    color: var(--circle-color);
  }

  .work-card-text .previewBtn>button {
    font-size: 1rem;
    font-weight: 400;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    outline: none;
    border: none;
    color: var(--primary-color);
  }

  .work-card-text .previewBtn>button:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
  }
}

@media (min-width: 992px) {
  #Work {
    padding: 0 40px 0;
    background-color: var(--body-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .work-container {
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    grid-gap: 20px;
  }

  .explore {
    height: 30px;
    margin: 70px 0 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .explore h3 {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0;
    color: var(--primary-color);
  }

  .exploreBar {
    width: 40px;
    height: 1px;
    background-color: var(--circle-color);
    transition: all 0.3s ease-in-out;
  }

  .work-container .work-card {
    max-width: 95%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
    background: transparent;
  }

  .work-card:hover {
    box-shadow: 0 0 20px rgba(199, 199, 199, 0.661);
  }

  .work-card .work-images {
    width: 100%;
    height: 25em;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .work-card .img-card {
    width: 100%;
    height: 100%;
    -ms-object-fit: cover;
    object-fit: cover;
    max-width: 100%;
    margin: 0 0 10px 0;
    vertical-align: middle;
    display: inline-block;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .work-card-text {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 10px;
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: var(--primary-color);
  }

  .work-card-text h3 {
    font-size: 1.5rem;
    font-weight: 400;
    margin: 0;
    color: var(--secondary-color);
  }

  .work-card-text p {
    font-size: 1rem;
    font-weight: 400;
    margin: 0;
    color: var(--circle-color);
  }

  .work-card-text .previewBtn>button {
    font-size: 1rem;
    font-weight: 400;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    outline: none;
    border: none;
    color: var(--primary-color);
    cursor: pointer;
  }

  .work-card-text .previewBtn>button:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border: 2px solid var(--secondary-color);
  }
}